<!DOCTYPE html>
<html>
<head>
  <title>TA_Pro</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <!-- <link rel="stylesheet" href="/css/dashboard.css" /> -->

  <style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  th, td {
      padding: 5px;
      text-align: left;
  }
  </style>

</head>
  <div class="container">
      <div class="header clearfix">
          <ul class="nav nav-pills pull-right" style="margin-top:5%;margin-right: 10%;position: relative">
              <li><a href="/users/logout" style="color:#420c7a;position: relative">Logout</a></li>
          </ul>
      </div>
    </div>
<body>

<ul class="nav nav-tabs" style="max-width:750px;margin-top:-3%; margin-left: 19.5%; position: relative">
                         <!-- Should go to Resources_Instructor screen -->
  <li><a href="/getResources" style="color:#420c7a">Resources</a></li>
                              <!-- Should go to Assignments_Instructor screen -->
  <li class="active"><a href="/assignments">Assignments</a></li>
  <li><a href="/users/getassignmentsGB" style="color:#420c7a">Gradebook</a></li>
  <!-- <li><a href="#" style="color:#420c7a">Attendance</a></li> -->
  <li><a href="/users/getRoster" style="color:#420c7a">Roster</a></li>
                <!-- Should go to AddStudent screen -->
  <li><a href="/addStudent" style="color:#420c7a">Add Student</a></li>

  <!-- <li><a href="#" style="color:#420c7a">Research Log</a></li> -->
</ul>

<div class="row">
  <img src="http://telesens-academy.com/wp-content/uploads/2016/11/cropped-TA-Logo-Violet-Background.png" width=130 height=130 style="margin-left: 4% ; margin-top: -5%;position:relative;float:left">
</div>


    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="margin-top: 2%;">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                                            <!-- redirect to TEMPLATE.handlebars -->
                <a class="nav-link active" href="/" style="color:#420c7a">
                  <span data-feather="home"></span>
                  HOME <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                                              <!-- redirect to ProfileInst.handlebars -->
                <a class="nav-link" href="/profile" style="color:#420c7a">
                  <span data-feather="file"></span>
                  PROFILE
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/courses" style="color:#420c7a">
                  <span data-feather="layers"></span>
                  COURSES
                </a>
              </li>
            </ul>

          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
         
            <h1 class="h2 mb-3 font-weight-normal" style="margin-top: 4%;margin-left:2%; color:#420c7a; position: relative"><b>{{Aname}} -Closed </b></h1>
        
            <h1 class="h3 mb-3 font-weight-normal" style="float:left;color:#420c7a;font-size:30px; margin-top: 2%;margin-left: 2%;max-width: 20%; position: relative">
            Students</h1>
           
                {{# each roster}}
                <a href="/users/viewStudSub/{{this.AID}}/{{this.email}}"><div class="tab" style="background:white;border: 1px white;">
                  <button class="tablinks"  style="width:25%">
                  
                    {{this.firstName}} {{this.lastName}}
                   
                  </button></a>
                    
                  {{/each}}

                </div>
        
        
          </div>


          <div id="head_nav">

        </main>
          

      </div>
    </div>
  </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    
  </body>
</html>